#!/usr/local/bin/hinnkaDERemake xdg-open
[Desktop Entry]
Name=hinnkaDE Remake
Exec=/usr/local/bin/hinnkaDERemake/hinnkaDE.sh
TryExec=/usr/local/bin/hinnkaDERemake/hinnkaDE.sh
Icon=openbox
Type=Application
