#!/bin/hinnkaDERemake xdg-open
[Desktop Entry]
Name=hinnkaDE Remake
Exec=/bin/hinnkaDERemake/hinnkaDE.sh
TryExec=/bin/hinnkaDERemake/hinnkaDE.sh
Icon=openbox
Type=Application